/*--- footer ---*/
.main-footer {

	width: 100%;
	height: auto;
	background: #4B4B4B;
	line-height: normal;
	color: #FFFFFF;

	.upper-footer-main{
		.col {
			width: calc(100%/3);

				.first-col {
					padding-right: 80px;
				}

				.footer_links{
					ul{
						padding: 0;
							li	{
								list-style-type:none;
									a{
										color: white;
										text-decoration: none;
									}
							}

						li::before{
								content: ">";
								font-size: 15px;
								padding-right: 10px;
						}
					}
				}

		
				.social{
					padding-top: 10px;
					&-icon{
						position: relative;
						top: 0;
						left: 0;
						text-decoration: none;
						padding: 0;
								.image1{
									position: relative;
									top: 0;
									left: 0;
								}

								.image2{
									position: absolute;
									top: 13px;
									left: 14px;
								}
					}
				}

				.contact{
					.marker{
						padding-bottom: 20px;
						i{
							color: #1B984C;
							padding-right: 15px;
							height: 20px;
						}
						a{
							color: $white;
							text-decoration: none;
						}
					}
				}

		    }
		
			h4{
				color: white;
			}
	    }

		.copyright-footer{
			font-size: 16px;
			color: $white;
			background-color: $black;
			text-align: center;
			line-height: 12px;
		}
		.py-custom{
			padding-top: 87px;
			padding-bottom: 60px;
		}	
		.py-copy{
			padding-top:24px ;
			padding-bottom:24px;
		}
    }

