/*2 component*/
.two-block-form{
    padding: 31px 0;
    .block-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px 10px;
        .left-block{
            width: 50%;
			.left-text{
				text-align: left;
				
				.h3{
					
					color: #2DAC5F;
				}
			}
		}
		// 	.contact{
		// 		color: #000;
		// 		li{
		// 			a{
		// 				color: #2DAC5F;
		// 		}
		// 	}
		// }
		.right-block{
            width: 50%;
            background-color:#fff;
            padding-right: 50px;
            padding: 10px 30px;
        }
      
      
    }
   
    
    .container-text{
        height: auto;
        width: 100%;
    }
    /*@include respond-below(md) {
            width: 100%;
        
    }*/
   
}

