/*2 component*/
.two-col-about-two{
    padding: 31px 0;
	.two-block-about-two{
		.block-wrap {
			display: flex;
        	justify-content: space-between;
        	flex-wrap: wrap;
        	// padding: 10px 10px;
			.right-block{
				width: 50%;
			}
			.left-block{
				width: 50%;
				background-color:#fff;
            	padding-right: 50px;
			}
			h2{
				color: $primary-100;
				text-align: center;
			}
		}
	}
}

    /*@include respond-below(md) {
            width: 100%;
        
    }*/
   


