/*--- header ---*/
.main-header{
	.header-logo {
		.logo {
			display: block;
			width: 141px;
			// img {
			// 	width: 100%;
			// }
		}
	}
	.header-menu {
		display: flex;
		align-items: center;
		height: auto;
		ul {
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			margin: 0;
			@include respond-below(md) {
				display: none;
			}
			li {
				position: relative;
				list-style-type: none;
				padding: 0px 20px;
				a {
					color: $primary-100;
					text-decoration: none;
					font-weight: 700;
					font-size: 20px;
					padding: 10px;
					border-radius: 20px;
					&:hover {
						color: $white;
						background-color: #1B984C;
						
					}
				}
				ul {
					position: absolute;
					left: 0;
					top: 100%;
					width: 150px;
					visibility: hidden;
					opacity: 0;
					pointer-events: none;
					display: block;
					transition: ease-in-out 0.4s;
					transform: translateY(-10%);
					z-index: 9;
					background-color: $black;
					li {
						border-bottom: 1px solid $white;
						a {
							display: block;
							padding: 5px 10px;
							color: $white;
							text-align: center;
						}
						ul {
							left: 100%;
							top: 0;
						}
					}
				}
				&:hover {
					> ul {
						visibility: visible;
						opacity: 1;
						pointer-events: all;
						transform: translateY(0%);
					}
				}
			}
		}
		.hamburger {
			display: none;
			@include respond-below(md) {
				display: flex;
			}
		}
		.last_col{
			.nav_number{
				.num {
					color: #2DAC5F;
					font-weight: 800;
				}
			}
		}
	}
}
