.banner{
            position: relative;
            // padding:10px;
            .banner-image{
                position:relative;
                // padding: 10px;
                width: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                min-height: 700px;
            }    

            .banner-inner-text{
                position: absolute;
                text-align: center;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
                z-index: 999;
            }

            .banner-head , .banner-text{
                p{
                    color: $white;
                    font-size: large;
                    margin: 30px;
                }
            }
}


.images {
    display: flex;
    flex-wrap: wrap;

    .imagewrapper {
        display: flex;
        justify-content: center;
        align-items: center;
            .image {
                display: block;
                object-fit: cover;
                width: 100%;
            }
      }
  }
  
