// variable and mixin
// @import 'abstracts/core' ;

.slider-banner{
    position: relative;
    // padding:10px;
    .image-class{
        position:relative;
        // padding: 10px;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 600px;
        background-size: cover;
    }
}

