//about Us-three-col service section and h6 section
.three-row-image {
    width: 33.33%;
    text-align: center;
    padding: 10px;

    .text-para h6 {
        text-align: justify;
    }

    .text-para p {
        text-align: justify;
    }
}

