// How it work section 


   
	.three-col {
		// display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
        // padding: 10px 10px;
        .work-col{
            // width: 50%;
			width: 68px;
				img{
					display: block;
					width: 100%;
				}
        }
        .client-col-1{
			width: calc(100% - 68px);
            // width: 50%;
            // background-color:#fff;
            // padding-left: 50px;
           
        }
    }




// Two-col-flex layout for index page
.client-section{
    background-color: #ECF4D1;
	.two-col {
		display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px 10px;
        .quotes{
            // width: 50%;
			width: 120px;
				img{
					display: block;
					width: 100%;
				}
        }
        .client-row-data{
			width: calc(100% - 120px);
            // width: 50%;
            // background-color:#fff;
            padding-left: 50px;
           
        }
    }
}
 //Two-col layout for contact us page
